body { 
    background-color: #141217;
    font-family: 'IBM Plex Mono';
    padding: 20px;
}

/* Starting PopUp */
.popup-open {
    background-color: #feae97;
    text-align: center;
    position: fixed;
    inset: 0px;
    width: 30rem;
    height: 20rem;
    max-width: 100vw;
    max-height: 100dvh;
    margin: auto;
    display: block;
    border: 10px solid #4a6475;
    border-radius: 5px;
    overflow: hidden;
}
.popup-open h1 {
    margin: 0;
}
.popup-open p {
    margin: 0;
}
.popup-top-bar {
    padding-bottom: 2px;
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #4a6475;
    color: #9bb1b5;
}
.popup-content p {
    padding: 30px;
    margin-top: 10px;
}

.close-btn {
    cursor: pointer;
    border: 1px solid;
    width: 5%;
    vertical-align: top;
    top: 0px;
    right: 0px;
    position: absolute;
    display: flex;
    background-color: #feae97;
}
.close-btn:hover {
    background-color: #9bb1b5;
}
.accept-btn {
    margin: 30px;
    height: 50px;
    width: 150px;
    background-color: #feae97;
    font-family: 'IBM Plex Mono';
    font-size: 30px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: fixed;
    background-color: #141217;
    top: 0;
}
.navbar ul {
    display: flex;
    list-style: none;
    margin-right: 50px;
}
.navbar li {
    display: inline;
}
.navbar li a {
    color: #f3ae97;
    padding: 10px;
    text-decoration: none;
}
.navbar li a:hover {
    text-decoration: underline;
}

/* Home */
.greetings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.greetings-intro {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: #9bb1b5;
    font-size: 3em;
    height: min-content;
}
.greetings-intro h2 {
    padding-top: 50px;
    flex-wrap: wrap;
    margin-inline-end: 0px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    height: 20px;
}
.greetings-intro h1 {
    color: #f3ae97;
    font-size: 5em;
    margin-inline-start: 10px;
    margin-inline-end: 0px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    height: 270px;
}
.greetings-intro p {
    color: #9bb1b5;
    font-size: 0.5em;
    margin-inline-start: 100px;
    margin-inline-end: 0px;
    margin-block-end: 80px;
    margin-block-start: 0px;
    height: min-content;
}
.greetings-blurb {
    color: #999ea4;
    display: flex;
    flex-direction: column;
}
.greetings-blurb h2 {
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-block-end: 0px;
    margin-block-start: 0px;
}
.more-button {
    padding: 50px;
    width: 100%;
}
.more-button button {
    width: 30%;
    height: 50px;
    background-color: #f3ae97;
    font-family: 'IBM Plex Mono';
}
.more-button button:hover {
    background-color: #9bb1b5;
}

/* About */
.about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.about h3 {
    color: #f3ae97;
    padding-top: 100px;
    font-size: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-block-end: 50px;
    margin-block-start: 0px;
}
.about a {
    color: #f3ae97;
    text-decoration: none;
}
.about a:hover{
    text-decoration: underline;
}
.about p {
    color: #9bb1b5;
    margin-inline-start: 40px;
    margin-inline-end: 0px;
    margin-block-end: 0px;
    margin-block-start: 0px;
}
hr {
    margin-inline-start: 200px;
    margin-inline-end: 100px;
    margin-block-end: 100px;
    margin-block-start: 100px;
    height: 500px;
}
.about figure {
    margin-block-start: 100px;
    margin-left: auto;
}
.about img {
    border: 15px solid white;
    border-radius: 5px;
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: 150px;
}
.about figcaption {
    color: #999ea4;
    max-width: 400px;
    margin-left: -15px;
}
.education {
    color: #f3ae97;
    width: 100%;
    line-height: 1.5;
}
.education h2 {
    font-size: 2.5em;
}
.education p {
    color: #9bb1b5;
    font-size: 1.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-block-end: 100px;
    margin-block-start: 20px;
    width: 60%;
}
.education ul {
    color: #999ea4;
}
.education-child {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 20px;
}
.education-child figure {
    margin-block-start: 0px;
    margin-inline-end: 0px;
    margin-block-end: 50px;
    margin-block-start: 0px;
}
.education-child img {
    height: auto;
    width: 350px;
    margin-top: -100px;
    border: 0px;
}
.education-child figcaption {
    color: #999ea4;
    rotate: -5deg;
    font-size: 1.2em;
    max-width: 400px;
}
/*
.honorable-mentions {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.honorable-mentions h2 {
    margin-top: 20%;
    margin-right: 10%;
}
.honorable-mentions ul {
    color: #9bb1b5;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    width: 50%;
}
.honorable-mentions li {
    font-size: 1.1em;
}
*/
.bold-text {
    font-weight: 900px;
}

/* Projects */
.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.projects h2 {
    font-size: 2.5em;
    color: #f3ae97;
}
.projects p {
    color: #9bb1b5;
    font-size: 1.5em;
}
.projects ul {
    color: #9bb1b5;
    font-size: 1.5em;
}